body {
    height: 100vh;
    min-height: 740px;
    background-image: url('../img/background.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
}
